<h1>Add an Actor</h1>

<form class="" action="/actors/create_row">
  <div class="">
    <label for="name">Name</label>
    <input id="name" type="text" name="name" placeholder="Name">
  </div>

  <div class="">
    <label for="dob">Date of Birth</label>
    <input id="dob" type="text" name="dob" placeholder="DOB" >
  </div>

  <div class="">
    <label for="bio">Bio</label>
    <textarea id="bio" type="text" name="bio" rows="12" cols="70" placeholder="Bio"></textarea>
  </div>

  <div class="">
    <label for="image_url">Image URL</label>
    <input id="image_url" type="text" name="image_url" placeholder="URL">
  </div>

  <div class="">
    <button type="submit" name="button">Submit</button>
  </div>
</form>

<hr>

<a href="/actors">Go Back</a>
