<h1><%= @director.name %></h1>

<h3>DOB: </h3>
<p>
  <%= @director.dob %>
</p>

<h3>Bio: </h3>
<p>
  <%= @director.bio %>
</p>

<img src="<%= @director.image_url %>" alt="" />

<hr>

<a href="/directors">Go Back</a>
